@using Savoy.ViewModels.Account;
@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassWord";

}


<div class="container-fluid" style="padding-bottom:50px;background: url('@Url.Content("~/assets/image/loginbackground2.webp")') no-repeat; background-position: center;
    background-size:cover;">
    <div class="col-lg-12" style="border-top:1px solid #282828;">

        <form asp-action="ForgotPassword" method="post">
            <div class="login-form" style="text-align:center;">
           
                <div class="row">
                    <div class="col-lg-12" style="padding-top:50px;">

                        <label style="color:red;display:block" >Please add Email Address</label>
                        <input type="email" asp-for="Email" placeholder="Email Address" style="outline:none;width:300px;height:40px;border-radius:5px;margin:20px;border:1px solid #282828" />
                        <span style="display:block" class="text-danger" asp-validation-for="Email"></span>
                    </div>

                    <div class="col-lg-12 pt-5">
                        <button style="width:100px;height:40px;color:darkblue;background-color:white;border-radius:5px;border:1px solid green" type="submit" class="btn btn-custom-size lg-size btn-pronia-primary">
                            Send
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>