@using Savoy.Areas.Admin.ViewModels.BlogVM;
@model BlogEditVM
@{
    ViewData["Title"] = "Edit";
}


<div style="padding-left:200px" class="container my-5">
    <form class="forms-sample" asp-action="Edit" method="post" enctype="multipart/form-data">

        <div class="form-group  my-3">
            <label>Add Title</label>
            <textarea class="form-control" type="text" id="Product-Name" asp-for="Title"></textarea>
            <span class="text-danger"></span>
        </div>

        <div class="form-group  my-3">
            <label class="mt-2">Add Description</label>
            <textarea class="form-control" type="text" id="ProductDescription" asp-for="Description"></textarea>
            <span class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="mt-2">Choose Product's Tag</label>
            <select class="form-select" aria-label="Default select example" id="customFile" asp-for="TagId" asp-items="ViewBag.tag"></select>
        </div>

        <div class="form-group">
            <label class="mt-2">Choose Blog's Category</label>
            <select class="form-select" aria-label="Default select example" id="customFile" asp-for="CategoryId" asp-items="ViewBag.category"></select>
        </div>

        <div class="form-group">
            <label class="mt-2">Choose Blog's Author</label>
            <select class="form-select" aria-label="Default select example" id="customFile" asp-for="AuthorId" asp-items="ViewBag.author"></select>
        </div>

        @foreach (var image in Model.Images)
        {
            <img style="width:150px;height:150px;margin-top:30px" src="~/assets/image/@image.Image" />

        }

        <div class="form-group">
            <label class="mt-5">Add Photo</label>
            <input class="form-control" id="customFile" asp-for="Photos">
            <span class="text-danger"></span>
        </div>


        <div class="my-3">
            <button type="submit" class="btn btn-success">Submit</button>
            <a type="button" asp-action="Index" class="btn btn-light">Cancel</a>
        </div>
    </form>
</div>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace("ProductDescription");
    </script>
    <script>
        CKEDITOR.replace("Product-Name");
    </script>
}